
@{
    ViewData["Title"] = "About";
}

<h1 class="text-center">About</h1>
<h2 class="text-center">Code Coffer</h2>
<hr />
<h3 class="nav-link">Code Coffer is a website to help you store and view code without having to serach through tons of Comments, code coffer was founded by dakota cookson in mid april to help with his programing but he eventuly wanted it to go further he saw a world full of easily accesable and viewable code</h3>

